<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Alta de Usuario</title>
      <!-- Imágenes. -->
        <link rel="icon" href="Images/LogoGobierno.png">
      <!-- Fav-Icons. -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
      <!-- CSS. -->
        <link rel="stylesheet" href="CSS/style.css"/>
        <link rel="stylesheet" href="CSS/animations.css"/>
        <link rel="stylesheet" href="CSS/global.css"/>
        <link rel="stylesheet" href="CSS/media-queries.css"/>
      <!-- JS. -->
        <script src="JS/script.js" defer></script>
  </head>
  <body>
    <header></header>

    <main>
      <form action="/action_page.php">
        <fieldset id="form">
            <legend><h1>Formulario Alta de Usuario</h1></legend>

            <fieldset>
              <legend><h2>Información Personal/Usuario</h2></legend>
                <label for="Nombre">Username (DNI / NIE / NIF):</label>
                  <input type="text" id="DNI/NIE/NIF" name="DNI/NIE/NIF" placeholder="Ingrese el username (DNI / NIE / NIF)" pattern="^([XYZxyz]\d{7}[A-Za-z]|\d{8}[A-Za-z])$" title="Por favor, ingrese un DNI, NIE o NIF válido. Ej: 12345678A(DNI/NIF) o X1234567A(NIE) [8 dígitos seguidos de una letra]." required>

                <label for="Rol">Rol:</label>
                  <select class="rolLista" required>
                  <!--
                    Opción inicial del desplegable:
                    - "value="" ": Valor vacío porque no es un rol válido.
                    - "disabled" : Impide que el usuario pueda seleccionar esta opción.
                    - "selected" : hace que esta opción aparezca seleccionada por defecto al cargar la página.
                  -->
                    <option class="formularioRol" value="" disabled selected>Escoga/Seleccione el nuevo rol del/para el usuario</option>
                    <option class="formularioRol" value="role_user">Usuario</option>
                    <option class="formularioRol" value="role_admin">Administrador</option>
                  </select>

            <input id="buttonCheck" type="submit" value="Enviar">
          </fieldset>
      </form>
    </main>

    <footer></footer>

    <img id="background" src="Images/Fondo.png" alt="#">
  </body>
</html>

{% block page %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
{% endblock %}
