/* Ajuste de tamaño para la imagen/banner. */
#front{
  height: 30%;
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

/* Ajuste de tamaño para la imagen central de la pantalla. */
#logo{
  height: 45px;
  width: 65px;
  margin: 20px 0px 25px 0px;
}